h1   {color: black;
        font-size: 80px;
        text-align: center;
}
h2 {
text-align: center;
}
h3{
text-align : center;
}

p{
text-align: center;
font-size : 20px;
}

p.documentation{
text-align: center;
}